<style type="text/css">
.tg  {border-collapse:collapse;border-color:#9ABAD9;border-spacing:0;}
.tg td{background-color:#EBF5FF;border-color:#9ABAD9;border-style:solid;border-width:1px;color:#444;
    font-family:Arial, sans-serif;font-size:14px;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{background-color:#409cff;border-color:#9ABAD9;border-style:solid;border-width:1px;color:#fff;
    font-family:Arial, sans-serif;font-size:14px;font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-baqh{text-align:center;vertical-align:top}
.tg .tg-lqy6{text-align:right;vertical-align:top}
.tg .tg-0lax{text-align:left;vertical-align:top}
</style>
{{ range $name, $stats := . }}
<table class="tg">
	<thead>
		<tr>
			<th class="tg-baqh" colspan="6">{{$name}}</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td class="tg-0pky">Success</td>
			<td class="tg-0pky">Start</td>
			<td class="tg-0pky">End</td>
			<td class="tg-0pky">Duration</td>
		</tr>
		{{ range $stats}}
		<tr>
			<td class="tg-0pky">{{.Success}}</td>
			<td class="tg-0pky">{{.Start}}</td>
			<td class="tg-0pky">{{.End}}</td>
			<td class="tg-0pky">{{.Duration}}</td>
		</tr>
		{{ end}}
	</tbody>
</table>
<br>
{{ end }}